#root {
  margin: 0 auto;
  text-align: center;
  background-color: black;
  font-family: 'Poppins';
}
.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
}

.overflow-container {
  max-height: calc(100vh - 100px); /* Adjust 100px according to your header/footer height */
  overflow-y: auto;
  width: 100%;
}


/* Add this to your CSS file */
@media (max-width: 768px) {
  .flex {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
  }
  .input-box {
    width: 50px; /* Reduce the width for mobile screens */
    padding: 6px; /* Adjust padding for smaller screens */
    font-size: 0.875rem; /* Smaller font size for mobile */
  }
  .button {
    width: 50%; /* Full-width button for mobile screens */
    padding: 8px; /* Adjust padding for buttons */
  }
  .flex > div {
    margin-bottom: 10px; /* Add space between logo and title on smaller screens */
  }
  
}
